<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="container-fluid row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <form action="#" th:action="@{/department}" th:object="${entity}" method="post">
                <div class="card">
                    <div class="card-header">Department</div>
                    <div class="card-body">
                        <ul th:if="${#fields.hasErrors('*')}">
                            <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                        </ul>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="id">Id</label>
                                <input class="form-control" id="id"
                                       readonly="true"
                                       th:field="*{id}"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="name">Name</label>
                                <input class="form-control" id="name"
                                       th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'error-field'"/>
                                <span  th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error-field"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="headOfDepartment">Head of department</label>
                                <input class="form-control" id="headOfDepartment"
                                       th:field="*{headOfDepartment}"/>
                                <span  th:if="${#fields.hasErrors('headOfDepartment')}" th:errors="*{headOfDepartment}" th:errorclass="error-field"  th:style="'color:red'"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="address">Address</label>
                                <input class="form-control" id="address"
                                       th:field="*{address}"/>
                                <span  th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="error-field"  th:style="'color:red'"></span>

                            </div>
                        </div>



                        <div class="row">
                            <div class="form-group col-sm-12">
                                <button type="submit"  class="btn btn-primary" onclick="return confirm('Do you save the department?');">Save</button>

                                <button class="btn btn-primary  mb-2 mr-sm-2 mb-sm-0" id="btnBack"
                                        name="action" onclick="window.history.back()"
                                        type="button"
                                        value="search">
                                    Back
                                </button>

                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
        <div class="col-sm-2">
        </div>


    </div>
</div>


</body>
</html>